.logo {
  display: block;
  margin: 0 auto;
  width: 189px;
  height: 50px;

  svg {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: $tablet-portrait) {

}
@media (min-width: $tablet-landscape) {

}
@media (min-width: $desktop) {

}

